 FACEBOOK_ID=5305540509503912
 FACEBOOK_SECRET=962541a8bfc796e07111753b033325e9
 FACEBOKK_CALLBACK=http://localhost:3000/auth/facebook/callback
 SESSION_SECRET=ThisIsMySecret
 MONGODB_URI=mongodb://localhost/todolist
 PORT = 3000